/* Navigation */
nav {
    max-width: 1000px;
    background: #fff;
    margin: 0 auto;
}

#navigation a {
    border-bottom: none;
    display: inline-block;
}

#navigation a,
#navigation li {
    line-height: 0;
}

#navigation img {
    width: 200px;
}